* {
    --primary-color: #222831;
    --secondary-color: #393E46;
    --thrid-color: #948979;
    --fourth-color: #DFD0B8;
}

.main-content .alertes-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 20px;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #fff;
}

.grid {
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.grid-critiques {
    grid-column: 1 / 2; /* Span the first column */
    grid-row: 1 / 3; /* Span both rows */
}

.grid.alertes {
    grid-column: 2 / 3; /* Span both columns */
    grid-row: 1 / 2; /* Span the first row */
}

.grid-all-alertes {
    grid-column: 2 / 3; /* Span the second column */
    grid-row: 2 / 3; /* Span the second row */
}


.main-content .alert {
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: #f44336;
    border-radius: 10px;
}
.alert-success {
    background: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.alert-summary div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn-section-right {
    display: flex;
    align-items: center;
    gap: 30px;
}