.modal {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: none; /* par défaut caché */
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 300px;
  height: 300px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.3);
  padding: 20px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2em;
}

.close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 28px;
  cursor: pointer;
  color: #888;
}
.close:hover {
  color: #000;
}