.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.modal-content {
  width: auto;
  height: 150px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.3);
  padding: 20px;
  text-align: center;
  align-items: center;
  position: relative;
  display: block;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2em;
}

.close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 28px;
  cursor: pointer;
  color: #888;
}
.close:hover {
  color: #000;
}