:root {
    --primary-color: #ADB2D4;
    --secondary-color: #C7D9DD;
    --third-color: #D5E5D5;
    --text-color: #212529;
    --bg-color: #fff;
    --btn-color: #EEF1DA;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 30px;
    padding: 0;
}

/* Sidebar styles */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: var(--primary-color);
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    color: var(--text-color);
    text-align: center;
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    color: var(--text-color);
    text-decoration: none;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: var(--secondary-color);
}

/* Main content styles */
.main-content {
    margin-left: 270px; /* Leave space for the sidebar */
    padding: 20px;
}


button {
    background-color: var(--btn-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
}

table {
    width: 95%;
    border-collapse: collapse;
    margin: 0 auto 20px auto; /* Center the table horizontally */
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

h2 {
    margin-top: 40px;
}

form {
    width: 25%;
    padding: 20px;
    margin: 10px auto;
    background-color: var(--secondary-color);
    border-radius: 25px;
    display: grid; /* Use grid layout */
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 15px; /* Add spacing between rows and columns */
    align-items: center; /* Align items vertically */
}

form label {
    text-align: left; /* Align labels to the left */
    padding-right: 10px;
}

form input, form select, form textarea, form button {
    width: 100%; /* Make inputs stretch to fit the column */
}

form button {
    grid-column: 1 / span 2; /* Make the button span both columns */
    justify-self: center; /* Center the button horizontally */
}

input, select, textarea {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--third-color);
}